*.deps/
Makefile
config.h
config.log
config.status
lib/bluez.pc
libtool
src/bluetoothd.8
stamp-h1
*.o
*.lo
*.la
*.dirstamp
client/bluetoothctl
gdbus/.libs/
lib/.libs/
lib/bluetooth/
monitor/btmon
obexd/src/builtin.h
obexd/src/obex.service
obexd/src/obexd
profiles/cups/bluetooth
profiles/iap/iapd
src/.libs/
src/bluetooth.service
src/bluetoothd
src/builtin.h
tools/97-hid2hci.rules
tools/advtest
tools/amptest
tools/avinfo
tools/avtest
tools/bccmd
tools/bcmfw
tools/bdaddr
tools/bluemoon
tools/bluetooth-player
tools/bneptest
tools/btattach
tools/btconfig
tools/btgatt-client
tools/btgatt-server
tools/btinfo
tools/btiotest
tools/btmgmt
tools/btproxy
tools/btsnoop
tools/check-selftest
tools/cltest
tools/create-image
tools/eddystone
tools/gatt-service
tools/hcieventmask
tools/hcisecfilter
tools/hex2hcd
tools/hid2hci
tools/hwdb
tools/ibeacon
tools/l2ping
tools/l2test
tools/mcaptest
tools/mpris-proxy
tools/nokfw
tools/obex-client-tool
tools/obex-server-tool
tools/obexctl
tools/oobtest
tools/rctest
tools/rtlfw
tools/scotest
tools/seq2bseq
tools/test-runner
expand/btexpand
